@model EntityLayer.Concrete.Employee
@{
    ViewData["Title"] = "UpdateEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Personel Düzenleme Sayfası</h1>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yazar Profil Bilgileri Düzenleme</h4>
            <br />
            <form class="form-group" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    @Html.HiddenFor(x => x.EmployeeID)
                    <label for="exampleInputName1">Adınız</label>
                    @Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control", @placeholder = "Adınız" })
                    @Html.ValidationMessageFor(x => x.EmployeeName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.HiddenFor(x => x.EmployeeID)
                    <label for="exampleInputName1">Kullanıcı Adınız</label>
                    @Html.TextBoxFor(x => x.EmployeeSurName, new { @class = "form-control", @placeholder = "SoyAdınız" })
                    @Html.ValidationMessageFor(x => x.EmployeeSurName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Yazar Görsel</label>
                    <input type="file" name="imageFile" class="form-control-file">
                    <br />
                    <label>Yada Link Yapıştır</label>
                    @Html.TextBoxFor(x => x.EmployeeImage, new { @class = "form-control", @placeholder = "ImageUrl" })
                    @Html.ValidationMessageFor(x => x.EmployeeImage, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Personel Instagram</label>
                    @Html.TextBoxFor(x => x.EmployeeInstagram, new { @class = "form-control", @placeholder = "Instagram" })
                    @Html.ValidationMessageFor(x => x.EmployeeInstagram, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Personel Twitter</label>
                    @Html.TextBoxFor(x => x.EmployeeTwitter, new { @class = "form-control", @placeholder = "Twitter" })
                    @Html.ValidationMessageFor(x => x.EmployeeTwitter, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Personel Facebook</label>
                    @Html.TextBoxFor(x => x.EmployeeFacebook, new { @class = "form-control", @placeholder = "Facebook" })
                    @Html.ValidationMessageFor(x => x.EmployeeFacebook, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Personel Linkedin</label>
                    @Html.TextBoxFor(x => x.EmployeeLinkedin, new { @class = "form-control", @placeholder = "Linkedin" })
                    @Html.ValidationMessageFor(x => x.EmployeeLinkedin, "", new { @class = "text-danger" })
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                <button class="btn btn-light">İptal</button>
            </form>
        </div>
    </div>
</div>


<link rel="stylesheet" href="styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/comment.css" rel="stylesheet" />

@*@using (Html.BeginForm("UpdateEmployee", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("Personel ID")
    @Html.TextBoxFor(x => x.EmployeeID, new { @class = "form-control" })
    <br />
    @Html.Label("Personel Adı")
    @Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control" })
    <br />
    @Html.Label("Personel Soyadı")
    @Html.TextAreaFor(x => x.EmployeeSurName, new { @class = "form-control" })
    <br />
    @Html.Label("Personel İnstagram")
    @Html.TextAreaFor(x => x.EmployeeInstagram, new { @class = "form-control" })
    <br />

    @Html.Label("Personel Twitter")
    @Html.TextAreaFor(x => x.EmployeeTwitter, new { @class = "form-control" })
    <br />

    @Html.Label("Personel Facebook")
    @Html.TextAreaFor(x => x.EmployeeFacebook, new { @class = "form-control" })
    <br />

    @Html.Label("Personel Linkedin")
    @Html.TextAreaFor(x => x.EmployeeLinkedin, new { @class = "form-control" })
    <br />
    @Html.Label("Personel Fotoğrafı")
    @Html.TextAreaFor(x => x.EmployeeImage, new { @class = "form-control" })

    <br />
    <button class="btn btn-info">Personel'i Kaydet</button>

}*@